/* styling */
.button {
  color: rgb(255, 255, 255);
  width: max-content;
  box-sizing: content-box;
  background-color: black;
}

.dollar {
  color: black;
  width: max-content;
}
body{
  background-color: black;
}



